@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #ccffcc;
    font-family: Roboto;
    color: #003333;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    width: 65%;
    height: 80%;
}

.upper-menu>.timer-btn-container {
    margin-block: 30px;
    gap: 0.7rem;
    width: 70px;
}

.upper-menu>.timer-btn-container>div {
    cursor: pointer;
}

.upper-menu>.timer-btn-container>div:active {
    transform: translate(1px, 1px);
}

.typing-box>.hidden-input {
    opacity: 0;
}

.typing-box>.words {
    text-align: left;
    width: 90%;
    height: 50vh;
}

.typing-box>.words>.word {
    word-spacing: 20px;
}

.typing-box>.words>.word>.letter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #5c5151;
}

.footer>.size-btn-container {
    margin-block: 20px;
}

.footer>.size-btn-container>button {
    border: none;
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    margin-inline: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.footer>.size-btn-container>button:hover {
    background-color: rgba(0, 0, 0, 85%);
}

/* Roboto
Light 300
Regular 400
Medium 500 */

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */